body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.center-input {
	padding: 50px;
	text-align: center;
}

.social {
    height: 40px;
   
}

.divsocial {
    display: block;
    margin: auto;
        
}

.pic {
    height: 130px;
    width: 130px;
}

.teampic {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 400px;
}
