body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
    padding-bottom: 60px;
}

.center-input {
	padding: 50px;
	text-align: center;
}

.social {
    height: 40px;
   
}

.divsocial {
    display: block;
    margin: auto;
        
}

.pic {
    height: 130px;
    width: 130px;
}

.teampic {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 400px;
}

.socialsmall {
    height: 20px;
}

.intro {
    padding-bottom: 60px;
}

.button {
    background: #1d705e;
    border-radius: 30px;
    margin: 40px;
    padding: 18px;
    border: 0px;
    color: white;
    
}

.logohome {
    padding-bottom: 20px;
}

.article {
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}

.titegrid {
    font-size: 18;
    font-style: normal;
    font-weight: bold;
    background-color: #2eb397;
    color: white;
    font-size-adjust: auto;
    padding: 15px;
    height: 150px;    
}

.ligne {
    margin-bottom: 30px;
}
