<div id="article_full">
    <h3 id="article_title"></h3>
    <img id="article_image"/>
    <p id="article_text"></p>
    <audio controls id="player" style="display: none"></audio>
</div>

<h3>Read more about it...</h3>
<div class="selection">

    <div class="row ligne">
        {%  if related|length >= 1 %}

            <div class="col-xs-8">
                <div class="article_click"
                     style="height: 300px;
                             background: url('{{ related.0.image }}') center no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    <a href="#" class="fill-div" data-text="{{ related.0.text }}"
                       data-title="{{ related.0.title }}" data-image="{{ related.0.image }}"></a>
                </div>

                <div class="titlegrid">  {{ related.0.title  }} (<a target="_blank" href="{{ related.0.url }}" style="color:c7ede5">Original</a>)</div>

            </div>
        {% if related|length >= 2 %}
        <div class="col-xs-4">
            <div class="article_click" style="height: 300px;
            background: url('{{ related.1.image }}') center no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">

                        <a href="#" class="fill-div"
                           data-text="{{ related.1.text }}"
                           data-title="{{ related.1.title }}"
                           data-image="{{ related.1.image }}"></a>
                    </div>

                    <div class="titlegrid">  {{ related.1.title  }} (<a target="_blank" href="{{ related.1.url }}"style="color:c7ede5">Original</a>)</div>

                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class="Section">
    <div class="row line">
    {% if related|length >= 3 %}
        <div class="col-xs-4" id="article3">

            <div class="article_click" style="height: 300px; background: url('{{ related.2.image }}') center no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><a href="#" class="fill-div" data-text="{{ related.2.text }}"></a></div>
            <div class="titlegrid"> {{ related.2.title  }} (<a target="_blank" href="{{ related.2.url }}"style="color:c7ede5">Original</a>)</div>
        </div>
        {%  if related|length >= 4 %}

            <div class="col-xs-8" id="article4">
                <div class="article_click"
                     style="height: 300px; background: url('{{ related.3.image }}') center no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
                    <a href="#" class="fill-div" data-text="{{ related.3.text }}"></a>
                </div>


                <div class="titlegrid"> {{ related.3.title  }} (<a target="_blank" href="{{ related.3.url }}"style="color:c7ede5">Original</a>)</div>

            </div>
        {% endif %}
    {% endif %}
    </div>
</div>

<h3>Watch about it...</h3>
<div class="Section">
    {% for video_url in videos %}
<iframe width="367" height="207" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
{% endfor %}
</div>
