{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Carousel</title>

    <!-- Bootstrap core CSS -->
    <link href="{%  static "css/style.css" %}" rel="stylesheet">
    <link href="{%  static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{%  static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%  static "css/starter-template.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{%  static  "js/ie-emulation-modes-warning.js" %}"></script>
    <link href="{%  static "css/jquery-ui.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" src="{% static "images/logohome.png" %}" style="height: 40px; padding: 0px 10px 10px;"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/app/contact/">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <div class="intro" id="intro">
            <img class="logo" src="{% static "images/logo.png" %}">
            <br/>
            <br/>
            <h1>Learn a language with Carousel !</h1>
            <br/>
            <p>You want to learn about a specific topic? You want to learn a new language aswell?<br />
                Give us the url of an article in your mother tongue and we'll find you
                Articles on that topic in the language you want to learn!<br />
                Don't worry too, we'll do everything to help you understand those articles.<br/>
                <i>Disclaimer: our word highlighting functionality works essentially on english texts for now!</i></p>
        </div>
        <form id="url-form" class="form-inline" action="/app/decomposed/" method="post">
            <div class="form-group">
                <label class="sr-only" for="url">Url</label>
                <input class="form-control" id="input-url" name="url" type="text" placeholder="http://..." size="50">
            </div>
            <select class="form-control" name="dest_lang">
                {% for key, value in targets.items %}
                    {% if key == 'en' %}
                        <option selected="selected" value='{{ key }}'>{{ value }}</option>
                    {% else %}
                        <option value='{{ key }}'>{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            {% csrf_token %}
            <input type="submit" class="btn btn-default" value="Study" style="background-color:#2eb397; color:white;"/>
        </form>
        <div id="instr">
        <b>How does it work ?</b>

        <br>
        1. Read an article in your language.<br>
        2. Copy the link and choose the language you want ot learn.<br>
        3. You get articles about the same topic !
        </div>
        <div class="article" id="article_template">


        </div>
    </div>
</div>

<div class="modal fade" id="hover" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="loading_modal">
    Finding relevant article for you
</div>

<div style="position: absolute; width: 0px; height: 0px; overflow: hidden; padding: 0px; border: 0px; margin: 0px;"><div id="MathJax_Font_Test" style="position: absolute; visibility: hidden; top: 0px; left: 0px; width: auto; padding: 0px; border: 0px; margin: 0px; white-space: nowrap; text-align: left; text-indent: 0px; text-transform: none; line-height: normal; letter-spacing: normal; word-spacing: normal; font-size: 40px; font-weight: normal; font-style: normal; font-family: MathJax_Size4, sans-serif;"></div></div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script   src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous">
</script>
<script src="{% static "js/hoverintent.js" %}"></script>
<script src="{% static "js/underscore.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "scripts/main.js" %}" ></script>
<script src="{%  static  "js/bootstrap.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{%  static  "js/ie10-viewport-bug-workaround.js" %}"></script>
</body>
</html>
